{% extends 'base.html' %}
{% load static %}


{% block content %}
<div class="page-header">
          
  <div class="container">
  <div class="row">  
    
   
      <div class="row align-items-center text-left">
        <div class="col-lg-5 col-12">
          <h1 class="display-3">Design with us,<span class="text-primary"> Develop Anything.</span></h1>
          <p class="lead pb-4">We aim high at being focused on building relationships with our clients and community. Using our creative gifts drives this foundation.</p>
          <div class="row row-input">
            
            <div class="col-sm-6 col-12 pl-lg-0">
              <a class="btn btn-primary btn-round" href="https://www.facebook.com/CreativeTim">Get Started</a>
            </div>
          </div>
        </div>
        <div class="col-lg-7 col-12 pl-0">
          <img class="ml-lg-5" src="{% static '/img/ill/bg6-2.svg' %}" width="100%">
        </div>
      </div>
    </div>
   
      </div>
    </div>
  </div>
    
    <div class="row align-items-center text-left">
      <div class="col-lg-5 col-12">
        <h1 class="display-3">Design with us,<span class="text-primary"> Develop Anything.</span></h1>
        <p class="lead pb-4">We aim high at being focused on building relationships with our clients and community. Using our creative gifts drives this foundation.</p>
        <div class="row row-input">
          
          <div class="col-sm-6 col-12 pl-lg-0">
            <a class="btn btn-primary btn-round" href="https://www.facebook.com/CreativeTim">Get Started</a>
          </div>
        </div>
      </div>
      <div class="col-lg-7 col-12 pl-0">
        <img class="ml-lg-5" src="./assets/img/ill/bg6-2.svg" width="100%">
      </div>
    </div>
  </div>
</div>







<div class="container">
<div class="row">
<div class="col-md-4">
  <div class="info">
    <div class="icon icon-lg icon-shape icon-shape-primary shadow rounded-circle">
      <i class="ni ni-settings-gear-65"></i>
    </div>
    <h6 class="info-title text-uppercase text-primary">Social Conversations</h6>
    <p class="description opacity-8 text-justify">We get insulted by others, lose trust for those others. We get back stabbed by friends. It becomes harder for us to give others a hand.</p>
    <a href="javascript:;" class="text-primary">More about us
      <i class="ni ni-bold-right text-primary"></i>
    </a>
  </div>
</div>
<div class="col-md-4">
  <div class="info">
    <div class="icon icon-lg icon-shape icon-shape-success shadow rounded-circle">
      <i class="ni ni-atom"></i>
    </div>
    <h6 class="info-title text-uppercase text-success">Analyze Performance</h6>
    <p class="description opacity-8 text-justify">Don't get your heart broken by people we love, even that we give them all we have. Then we lose family over time. As we live, our hearts turn colder.</p>
    <a href="javascript:;" class="text-primary">Learn about our products
      <i class="ni ni-bold-right text-primary"></i>
    </a>
  </div>
</div>
<div class="col-md-4">
  <div class="info">
    <div class="icon icon-lg icon-shape icon-shape-warning shadow rounded-circle">
      <i class="ni ni-world"></i>
    </div>
    <h6 class="info-title text-uppercase text-warning">Measure Conversions</h6>
    <p class="description opacity-8 text-justify">What else could rust the heart more over time? Blackgold. The time is now for it to be okay to be great. or being a bright color. For standing out.</p>
    <a href="javascript:;" class="text-primary">Check our documentation
      <i class="ni ni-bold-right text-primary"></i>
    </a>
  </div>
</div>
</div>
</div>
</div>
</div>
<div class="container">

<div class="col-lg-7 col-12 pl-0">
<img class="ml-lg-5" src="./assets/img/ill/bg6-2.svg" width="100%">
</div>
</div>
</div>
<div class="section features-6">
<div class="container">
<div class="row align-items-center">
<div class="col-lg-4">
  <div class="info info-horizontal info-hover-primary">
    <div class="icon icon-shape icon-shape-info rounded-circle text-white">
      <i class="ni ni-html5 text-info"></i>
    </div>
    <div class="description pl-2">
      <h5 class="title">For Developers</h5>
      <p>The time is now for it to be okay to be great. </p>
      <a href="#" class="text-info">Learn more</a>
    </div>
  </div>
</div>
<div class="col-lg-4">
    <div class="info info-horizontal info-hover-primary">
      <div class="icon icon-shape icon-shape-info rounded-circle text-white">
        <i class="ni ni-html5 text-info"></i>
      </div>
      <div class="description pl-2">
        <h5 class="title">For Developers</h5>
        <p>The time is now for it to be okay to be great. </p>
        <a href="#" class="text-info">Learn more</a>
      </div>
    </div>
  </div>
  <div class="col-lg-4">
    <div class="info info-horizontal info-hover-primary">
      <div class="icon icon-shape icon-shape-info rounded-circle text-white">
        <i class="ni ni-html5 text-info"></i>
      </div>
      <div class="description pl-2">
        <h5 class="title">For Developers</h5>
        <p>The time is now for it to be okay to be great. </p>
        <a href="#" class="text-info">Learn more</a>
      </div>
    </div>
  </div>
  
  </div>
</div>

</div>
</div>
</div>
</div>
<div class="Record"></div>
<div class="pricing-2" id="pricing-2">
<div class="container">
<div class="row">
<div class="col-md-6 mx-auto text-center mb-3">
  <h3 class="display-3">Pick the best plan for you</h3>
  <p class="lead ">You have Free Unlimited Updates and Premium Support on each package.</p>
  <div class="section-space"></div>
</div>
</div>
<div class="space-100"></div>
<div class="row">
<div class="nav-wrapper mx-auto mr-3 mb-3">
  <ul class="nav nav-pills nav-pills-info nav-fill flex-column flex-md-row" id="tabs-icons-text" role="tablist">
    <li class="nav-item">
      <a class="nav-link mb-sm-3 mb-md-0" id="tabs-month" data-toggle="tab" href="#tabs-month" role="tab" aria-controls="tabs-icons-text-1" aria-selected="false"><i class="ni ni-satisfied mr-2"></i>Monthly</a>
    </li>
    <li class="nav-item">
      <a class="nav-link mb-sm-3 mb-md-0 active" id="tabs-year" data-toggle="tab" href="#tabs-year" role="tab" aria-controls="tabs-icons-text-2" aria-selected="true"><i class="ni ni-collection mr-2"></i>Yearly</a>
    </li>
  </ul>
</div>
</div>
<div class="row">
<div class="col-md-4">
  <div class="card card-pricing bg-info card-background" style="background-image: url('./assets/img/ill/pricing_bg.svg" data-background="image">
    <div class="card-body">
      <h6 class="card-category text-white text-uppercase">Starter</h6>
      <h1 class="card-title">
        <small class="text-white">$</small>199
      </h1>
      <ul>
        <li>
          <b>10</b> Projects
        </li>
        <li>
          <b>1</b> Team Members
        </li>
        <li>
          <b>5</b> Personal Contacts
        </li>
        <li>
          <b>500</b> Messages
        </li>
      </ul>
      <a href="javascript:;" class="btn btn-white btn-sm mt-3">
        Get Started
      </a>
    </div>
  </div>
</div>
<div class="col-md-4">
  <div class="card card-pricing bg-warning card-background" style="background-image: url('./assets/img/ill/pricing_bg.svg" data-background="image">
    <div class="card-body">
      <h6 class="card-category text-white text-uppercase">PRO</h6>
      <h1 class="card-title">
        <small class="text-white">$</small>399
      </h1>
      <ul>
        <li>
          <b>100</b> Projects
        </li>
        <li>
          <b>10</b> Team Members
        </li>
        <li>
          <b>50</b> Personal Contacts
        </li>
        <li>
          <b>500</b> Messages
        </li>
      </ul>
      <a href="javascript:;" class="btn btn-white btn-sm mt-3">
        Get Started
      </a>
    </div>
  </div>
</div>
<div class="col-md-4">
  <div class="card card-pricing bg-success card-background" style="background-image: url('./assets/img/ill/pricing_bg.svg" data-background="image">
    <div class="card-body">
      <h6 class="card-category text-white text-uppercase">Enterprise</h6>
      <h1 class="card-title">
        <small class="text-white">$</small>599
      </h1>
      <ul>
        <li>
          <b>1K</b> Projects
        </li>
        <li>
          <b>100</b> Team Members
        </li>
        <li>
          <b>500</b> Personal Contacts
        </li>
        <li>
          <b>Unlimited</b> Messages
        </li>
      </ul>
      <a href="javascript:;" class="btn btn-white btn-sm mt-3">
        Get Started
      </a>
    </div>
  </div>
</div>
</div>
</div>
</div>
{% endblock content %}