{% extends 'base.html' %}


{% block content %}

<div class="container" style="padding-top: 150px;">
    <div class="row">
        <div class="card">
            <!-- Card header -->
            <div class="card-header">
              <h3 class="mb-0">File browser</h3>
            </div>
            <!-- Card body -->
            <div class="card-body">
              <form>
                <div class="custom-file">
                  <input type="file" class="custom-file-input" id="customFileLang" lang="en">
                  <label class="custom-file-label" for="customFileLang"></label>
                </div>
              </form>
            </div>
          </div>        
    
    
          
    
        </div>
</div>

{% endblock content %}


