{% extends 'base.html' %}


{% block content %}

<div class="container" style="padding-top: 100px;">
    <div class="card">
        <!-- Card header -->
        <div class="card-header">
          <h3 class="mb-0">Personal Details</h3>
        </div>

        {{pdfdata}}
        <!-- Card body -->
        <div class="card-body">
          <form method="POST" >{% csrf_token %}
            <div class="form-group row">
                <label for="example-tel-input" class="col-md-2 col-form-label form-control-label">Pan Number</label>
                <div class="col-md-10">
                  <input class="form-control" type="number" name="pan_number" value="" id="example-tel-input">
                </div>
              </div>
            <div class="form-group row">
              <label for="example-text-input" class="col-md-2 col-form-label form-control-label">First Name</label>
              <div class="col-md-10">
                <input class="form-control" type="text" name="first_name" value="" id="example-text-input">
              </div>
            </div>
            <div class="form-group row">
              <label for="example-search-input" class="col-md-2 col-form-label form-control-label">Last Name</label>
              <div class="col-md-10">
                <input class="form-control" type="search" name="last_name" value="" id="example-search-input">
              </div>
            </div>
            <div class="form-group row">
              <label for="example-email-input" class="col-md-2 col-form-label form-control-label">Email</label>
              <div class="col-md-10">
                <input class="form-control" type="email" name="email" value="" id="example-email-input">
              </div>
            </div>
            
            <div class="form-group row">
              <label for="example-tel-input" class="col-md-2 col-form-label form-control-label">Phone Number</label>
              <div class="col-md-10">
                <input class="form-control" type="tel" name="phone_number" value="" id="example-tel-input">
              </div>
            </div>
            
            
            <div class="form-group row">
              <label for="example-number-input" class="col-md-2 col-form-label form-control-label">Date Of Birth </label>
              <div class="col-md-10">
                <input class="form-control" type="date" name="date_of_birth" value="" id="example-number-input">
              </div>
            </div>
            <div class="text-center">
              <button type="submit" class="btn btn-primary my-4 col-lg-4">Submit</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock content %}


